body{
  background: url(https://pbs.twimg.com/media/C2-i5QCWIAQtrF2.jpg)
}

div{
  background-color: blue;
  border-color: red;
  border-width: 10px;
  border-style: dashed;
}

p{
  color: green;
}

span{
  background: red;
  color: black;
}
