option_settings:
 "aws:elasticbeanstalk:application:environment":
   DJANGO_SETTINGS_MODULE: "simplesocial.settings"
   "PYTHONPATH": "/home/ec2-user/django-course/simple_social_clone/simplesocial:$PYTHONPATH"
 "aws:elasticbeanstalk:container:python":
   NumProcesses: '1'
   NumThreads: '15'
   WSGIPath: simplesocial/wsgi.py
packages:
 yum:
   python36.x86_64: [] 
